<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
		<grant name="request" default="member">
			<title xml:lang="ko">신청</title>
			<title xml:lang="zh-TW">請求</title>
			<title xml:lang="vi">Yêu cầu</title>
			<title xml:lang="tr">İstek</title>
		</grant>
		<grant name="write_comment" default="member">
			<title xml:lang="ko">평가</title>
			<title xml:lang="zh-TW">評價</title>
			<title xml:lang="vi">Đánh giá</title>
			<title xml:lang="tr">Değerlendir</title>
		</grant>
	</grants>
	<permissions>
		<permission action="dispArchiveInsertPackage" target="member" />
		<permission action="dispArchiveModifyPackage" target="member" />
		<permission action="dispArchiveDeletePackage" target="member" />
		<permission action="dispArchivePackage" target="member" />
		<permission action="dispArchivePackageList" target="member" />
		<permission action="dispArchiveAttach" target="member" />
		<permission action="dispArchiveModifyAttach" target="member" />
		<permission action="dispArchiveManage" target="manager" />

		<permission action="dispArchiveSearchDependency" target="member" />

		<permission action="procArchiveRequestPackage" target="member" />
		<permission action="procArchiveInsertPackage" target="member" />
		<permission action="procArchiveDeletePackage" target="member" />
		<permission action="procArchiveAttach" target="member" />
		<permission action="procArchiveModifyAttach" target="member" />
		<permission action="procArchiveAttachFile" target="member" />
		<permission action="procArchiveModifyAttachFile" target="member" />
		<permission action="procArchiveDeleteAttach" target="member" />
		<permission action="procArchiveInsertComment" target="member" />
		<permission action="procArchiveDeleteComment" target="member" />
		<permission action="procArchiveChangeStatus" target="manager" />
		<permission action="procArchiveDeleteItem" target="manager" />
	</permissions>
	<actions>
		<action name="dispArchiveIndex" type="view" standalone="true" index="true" />
		<action name="dispArchiveInsertPackage" type="view" />
		<action name="dispArchiveModifyPackage" type="view" />
		<action name="dispArchiveDeletePackage" type="view" />
		<action name="dispArchiveAttach" type="view" />
		<action name="dispArchiveModifyAttach" type="view" />
		<action name="dispArchivePackage" type="view" />
		<action name="dispArchivePackageList" type="view" />
		<action name="dispArchiveManage" type="view" />

		<action name="dispArchiveSearchDependency" type="view" />

		<action name="procArchiveInsertPackage" type="controller" ruleset="insertPackage" />
		<action name="procArchiveModifyPackage" type="controller" ruleset="modifyPackage" />
		<action name="procArchiveDeletePackage" type="controller" ruleset="deletePackage" />
		<action name="procArchiveAttachOneTime" type="controller" ruleset="attachOneTime" />
		<action name="procArchiveModifyAttachOneTime" type="controller" ruleset="modifyAttachOneTime" />
		<action name="procArchiveAttach" type="controller" ruleset="attach" />
		<action name="procArchiveModifyAttach" type="controller" ruleset="modifyAttach" />
		<action name="procArchiveAttachFile" type="controller" ruleset="attachFile" />
		<action name="procArchiveModifyAttachFile" type="controller" ruleset="modifyAttachFile" />
		<action name="procArchiveDeleteAttach" type="controller" ruleset="deleteAttach" />
		<action name="procArchiveInsertComment" type="controller" ruleset="insertComment" />
		<action name="procArchiveDeleteComment" type="controller" ruleset="deleteComment" />
		<action name="procArchiveChangeStatus" type="controller" ruleset="changeStatus" />

		<action name="dispArchiveAdminList" type="view" standalone="true" admin_index="true" />
		<action name="dispArchiveAdminInsert" type="view" standalone="true" setup_index="true" />
		<action name="dispArchiveAdminCategory" type="view" />
		<action name="dispArchiveAdminGrant" type="view" standalone="true" />
		<action name="dispArchiveAdminAdditions" type="view" standalone="true" />
		<action name="dispArchiveAdminSkin" type="view" standalone="true" />
		<action name="dispArchiveAdminMobileSkin" type="view" />
		<action name="dispArchiveAdminDelete" type="view" standalone="true" />

		<action name="procArchiveAdminInsert" type="controller" standalone="true" rulset="insertArchive" />
		<action name="procArchiveAdminDelete" type="controller" standalone="true" rulset="deleteArchive" />
		<action name="procArchiveAdminDeletePackage" type="controller" standalone="true" ruleset="deletePackage" />
		<action name="getArchiveItems" type="api" standalone="true" />

		<action name="dispArchiveCategory" type="mobile" />
	</actions>
</module>
